<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- Heading -->
    <div class="heading">TODO APP</div>

    <!-- Form for Adding Todo List Items -->
    <div class="col-50 vertical-center horizontal-center">
      <div class="form-box">
        <form class="row g-3" action="/create-todo-list-item" method="post">
          <div class="col-md-6">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" required>
              <option value="">--Select Category--</option>
              <option value="Personal">Personal</option>
              <option value="Work">Work</option>
              <option value="School">School</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="due_date" class="form-label">Due Date</label>
            <input
              type="date"
              class="form-control"
              id="due_date"
              name="due_date"
              required
            />
          </div>
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea
              rows="4"
              class="form-control"
              id="description"
              name="description"
              placeholder="What do you need to do?"
              required
            ></textarea>
          </div>
          <div class="col-12 horizontal-center">
            <button type="submit" class="btn btn-success btn-lg">
              <i class="fas fa-plus"></i>&nbsp;ADD
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Display the Todo List Items -->
    <div class="col-50">
      <% if(items.length) { %>
      <form class="row g-3" action="/delete-item" method="post">
        <div class="col-12 horizontal-center">
          <button type="submit" class="btn btn-danger btn-lg">
            <i class="fas fa-trash-alt"></i>&nbsp;DELETE
          </button>
        </div>
        <ul class="list-group">
          <% for (let item of items) { %>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div>
              <input
                class="form-check-input me-1"
                type="checkbox"
                value="<%= item.id %>"
                id="item.id"
                name="item_id"
              />
              <label class="form-check-label" for="">
                <div><%= item.description %></div>
                <div class="todo_date">
                  <i class="fas fa-calendar-alt"></i>&nbsp;<%=
                  item.due_date.toDateString() %>
                </div>
              </label>
            </div>
            <% if(item.category=="Personal") { %>
            <span class="badge rounded-pill category-color1">Personal</span>
            <% } else if(item.category=="Work") { %>
            <span class="badge rounded-pill category-color2">Work</span>
            <% } else if(item.category=="School") { %>
            <span class="badge rounded-pill category-color3">School</span>
            <% } else { %>
            <span class="badge rounded-pill category-color4">Other</span>
            <% } %>
          </li>
          <% } %>
        </ul>
      </form>
      <% } else { %>
        <div class="sub-heading vertical-center">Nothing To Display!!!<br>Add Items To Your Todo List</div>
        <% } %>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="/js/home.js"></script>
  </body>
</html>
